* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: montserrat-medium;
	src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
	font-family: montserrat-semibold;
	src: url(../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}
h1, h2, h3, h4, h5, h6 {
	font-family: montserrat-semibold;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}

.wrapper {
	margin-bottom: 10vh;
}
.navMenu {
	position: absolute;
	top: 6vh;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
  }

.navMenu a {
	
  color: #f6f4e6;
  margin-right: 1vw;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fd3a3a;
}

body{
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	
	font-family: montserrat-medium;
	overflow-x: hidden;
}
main {
	padding-top: 10vh;
}
.wrapper {
	color: #fafafa;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 45vw;
	top: 22vh;
	z-index: -1;
}
.hero_index{
	width: calc(var(--index) * 30);
	position: absolute;
	left: 50vw;
	top: 5vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.content {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}
.main-title_index{
	font-size: calc(var(--index) * 4);
	position: absolute;
	width: min-content;
	bottom: 20vh;
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	min-width: calc(var(--index) * 15);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 15px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 4rem;
	line-height: 4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.5;
	font-size: 2rem;
}
li {
	line-height: 1.5;
	font-size: 2rem;
}

.grid {
	/*рисуем зелёные рамки*/
	
	/*подключаем сетку*/
	display: grid;
	margin-top: 15vh;
	/*формируем по 4 одинаковых строки и столбца*/
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, auto);
  } 

  /*внешний вид ячеек*/
  .grid > * {
	/*фоновый цвет*/
	background-color: #1d1d1d;
	/*скругление углов*/
	border-radius: 5px;
	/*расстояние от одной границы ячейки до другой*/
	margin: 1px;
  }

.grid img{
	border-radius: 5px;
	width: 100%;
	height: auto;
	object-fit: cover;

}
